@charset "utf-8";


* {
	margin:0px;
	padding:0px;
}

html, body {
	height: 100%;
}

body {
	background-image: url(bg-dark-4784.jpg);
	color: #EEE;
	font-family: Arial;
}

.wr {
  max-width: 800px;
  min-height:100%;
  background-color: #27282A;
  margin: 0 auto;
  box-shadow: 0 0 9px rgba(0, 0, 0, 1);
}

.tit {
	width: 100%;
	line-height: 50px;
	background: linear-gradient(to bottom, #0B0B0C, #27282A);
	color: #EEE;
	padding: 10px 30px;
	box-sizing: border-box;
	border-bottom: 1px solid #000;
}

.cont {
	padding: 15px;
}

td {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

button {
	width: 200px;
	height: 45px;
	line-height: 45px;
	outline: 0;
	border-radius: 6px;
	border: 0;
	background: linear-gradient(to bottom, #999, #666);

}

textarea {
	background-color: #AAA;
	outline: 0;
	padding: 10px;
	box-sizing: border-box;
}

.gr {
  background-color: #888;
}



@media (max-width: 700px) {
	.wr {
		width: 100%;
	}

	.tit {
		
		font-size: 1.2em;
	}

	textarea {
		width: 95%;
	}

	button {
		width: 95%;
	}
}

