@charset "utf-8";


* {
	margin:0px;
	padding:0px;
}

html, body {
	height: 100%;
}

body {
	background-image: url(billie.png);
}

.wr {
  max-width: 800px;
  min-height:100%;
  background-color: #FFF;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}

.tit {
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #EEE;
	padding-left: 30px;
	margin-left: -15px;
	margin-top: -15px;
}

td {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

button {
	width: 200px;
	height: 35px;
}

.gr {
  background-color: #CCC;
}



@media screen and (max-width: 700px) {
	.wr {
		width: 70%;
	}

	.tit {
		
		font-size: 10px;
	}

	textarea {
		width: 70%;
	}
}

